@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 ? Cores do figma
*/
:root {
  --background: #E0E5B6;
  --background-secondary: #24251D;

  --button: #73802A;
  --button-secondary: #CAAD7E;

  --gray: #ADADAD;
  --red: #FF0000;
  --white: #FFFAEE;
}

.App {
  background-color: var(--background);
  height: 100vh; /* Ocupa 100% da altura da tela */
}